USE [master]
GO
/****** Object:  Database [QUANLIHOCSINH]    Script Date: 7/8/2020 5:38:18 PM ******/
CREATE DATABASE [QUANLIHOCSINH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLIHOCSINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEPRESS\MSSQL\DATA\QUANLIHOCSINH.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLIHOCSINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEPRESS\MSSQL\DATA\QUANLIHOCSINH_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLIHOCSINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLIHOCSINH]
GO
/****** Object:  Table [dbo].[BangDiemMonHoc]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BangDiemMonHoc](
	[MaBangDiemMonHoc] [varchar](20) NOT NULL,
	[DiemKiemTraMieng] [float] NULL,
	[DiemKiemTra15p] [float] NULL,
	[DiemKiemTra1tiet] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongKet] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangDiemMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Day]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Day](
	[MaGV] [varchar](20) NOT NULL,
	[MaMonHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DuocDayBoi]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DuocDayBoi](
	[MaHocSinh] [varchar](20) NOT NULL,
	[MaGV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [varchar](20) NOT NULL,
	[TenGV] [nvarchar](20) NOT NULL,
	[GioiTinh] [nchar](10) NULL,
	[Tuoi] [int] NULL,
	[SoDienThoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HanhKiem]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HanhKiem](
	[MaHanhKiem] [varchar](20) NOT NULL,
	[DiemChuyenCan] [float] NOT NULL,
	[LoaiHanhKiem] [nvarchar](10) NOT NULL,
	[ThoiGian] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHanhKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHocSinh] [varchar](20) NOT NULL,
	[TenHocSinh] [nvarchar](50) NOT NULL,
	[Lop] [varchar](20) NOT NULL,
	[GioiTinh] [nchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[MaHanhKiem] [varchar](20) NOT NULL,
	[MaLop] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HS_BDMH]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HS_BDMH](
	[MaHocSinh] [varchar](20) NOT NULL,
	[MaBangDiemMonHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaBangDiemMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HS_MH]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HS_MH](
	[MaHocSinh] [varchar](20) NOT NULL,
	[MaMonHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LH_BDMH]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LH_BDMH](
	[MaLop] [varchar](20) NOT NULL,
	[MaBangDiemMonHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaBangDiemMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](20) NOT NULL,
	[SiSo] [int] NULL,
	[MaPhong] [varchar](20) NOT NULL,
	[ThoiGian] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [varchar](20) NOT NULL,
	[TenMonHoc] [nvarchar](20) NOT NULL,
	[KetQua] [nchar](10) NULL,
	[MaBangDiemMonHoc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NienKhoa]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NienKhoa](
	[ThoiGian] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NK_PH]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NK_PH](
	[ThoiGian] [varchar](20) NOT NULL,
	[MaPhong] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThoiGian] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [varchar](20) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[SucChua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThanNhan]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThanNhan](
	[Ten] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](20) NOT NULL,
	[GioiTinh] [nchar](10) NULL,
	[Tuoi] [int] NULL,
	[MoiQuanHe] [nchar](20) NULL,
	[SoDienThoai] [int] NULL,
	[MaHocSinh] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 7/8/2020 5:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaLop] [varchar](20) NOT NULL,
	[MaHocSinh] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc], [DiemKiemTraMieng], [DiemKiemTra15p], [DiemKiemTra1tiet], [DiemThi], [DiemTongKet]) VALUES (N'B001', 8, 8.5, 8, 8.5, 8.5)
INSERT [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc], [DiemKiemTraMieng], [DiemKiemTra15p], [DiemKiemTra1tiet], [DiemThi], [DiemTongKet]) VALUES (N'B002', 9, 7, 7.5, 8.5, 8.5)
INSERT [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc], [DiemKiemTraMieng], [DiemKiemTra15p], [DiemKiemTra1tiet], [DiemThi], [DiemTongKet]) VALUES (N'B003', 7, 8, 7.5, 7.25, 7.5)
INSERT [dbo].[Day] ([MaGV], [MaMonHoc]) VALUES (N'GV001', N'MH001')
INSERT [dbo].[Day] ([MaGV], [MaMonHoc]) VALUES (N'GV001', N'MH010')
INSERT [dbo].[Day] ([MaGV], [MaMonHoc]) VALUES (N'GV002', N'MH002')
INSERT [dbo].[DuocDayBoi] ([MaHocSinh], [MaGV]) VALUES (N'HS001', N'GV001')
INSERT [dbo].[DuocDayBoi] ([MaHocSinh], [MaGV]) VALUES (N'HS002', N'GV001')
INSERT [dbo].[DuocDayBoi] ([MaHocSinh], [MaGV]) VALUES (N'HS003', N'GV001')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [GioiTinh], [Tuoi], [SoDienThoai]) VALUES (N'GV001', N'Hoa', N'Nữ        ', 35, 351023901)
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [GioiTinh], [Tuoi], [SoDienThoai]) VALUES (N'GV002', N'Thuý', N'Nữ        ', 36, 351248702)
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [GioiTinh], [Tuoi], [SoDienThoai]) VALUES (N'GV003', N'Trang', N'Nữ        ', 40, 351036985)
INSERT [dbo].[HanhKiem] ([MaHanhKiem], [DiemChuyenCan], [LoaiHanhKiem], [ThoiGian]) VALUES (N'A01', 9, N'Xuất Sắc', N'2014-2015')
INSERT [dbo].[HanhKiem] ([MaHanhKiem], [DiemChuyenCan], [LoaiHanhKiem], [ThoiGian]) VALUES (N'A02', 8, N'Giỏi', N'2014-2015')
INSERT [dbo].[HanhKiem] ([MaHanhKiem], [DiemChuyenCan], [LoaiHanhKiem], [ThoiGian]) VALUES (N'A03', 6.5, N'Khá', N'2014-2015')
INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [Lop], [GioiTinh], [DiaChi], [NgaySinh], [MaHanhKiem], [MaLop]) VALUES (N'HS001', N'Hùng', N'12A1', N'Nam       ', N'Ninh Thuận', CAST(N'2000-03-15' AS Date), N'A02', N'L001')
INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [Lop], [GioiTinh], [DiaChi], [NgaySinh], [MaHanhKiem], [MaLop]) VALUES (N'HS002', N'Ngân', N'12A2', N'Nữ        ', N'Bình Định', CAST(N'2000-05-14' AS Date), N'A02', N'L002')
INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [Lop], [GioiTinh], [DiaChi], [NgaySinh], [MaHanhKiem], [MaLop]) VALUES (N'HS003', N'Nam', N'12A3', N'Nam       ', N'Hồ Chí Minh', CAST(N'2000-06-21' AS Date), N'A01', N'L003')
INSERT [dbo].[HS_BDMH] ([MaHocSinh], [MaBangDiemMonHoc]) VALUES (N'HS001', N'B001')
INSERT [dbo].[HS_BDMH] ([MaHocSinh], [MaBangDiemMonHoc]) VALUES (N'HS002', N'B002')
INSERT [dbo].[HS_BDMH] ([MaHocSinh], [MaBangDiemMonHoc]) VALUES (N'HS003', N'B003')
INSERT [dbo].[HS_MH] ([MaHocSinh], [MaMonHoc]) VALUES (N'HS001', N'MH001')
INSERT [dbo].[HS_MH] ([MaHocSinh], [MaMonHoc]) VALUES (N'HS001', N'MH002')
INSERT [dbo].[HS_MH] ([MaHocSinh], [MaMonHoc]) VALUES (N'HS001', N'MH003')
INSERT [dbo].[LH_BDMH] ([MaLop], [MaBangDiemMonHoc]) VALUES (N'L001', N'B001')
INSERT [dbo].[LH_BDMH] ([MaLop], [MaBangDiemMonHoc]) VALUES (N'L001', N'B007')
INSERT [dbo].[LH_BDMH] ([MaLop], [MaBangDiemMonHoc]) VALUES (N'L001', N'B016')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [SiSo], [MaPhong], [ThoiGian]) VALUES (N'L001', N'12A1', 38, N'P01', N'2017-2018')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [SiSo], [MaPhong], [ThoiGian]) VALUES (N'L002', N'12A2', 39, N'P02', N'2017-2018')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [SiSo], [MaPhong], [ThoiGian]) VALUES (N'L003', N'12A3', 40, N'P03', N'2017-2018')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [KetQua], [MaBangDiemMonHoc]) VALUES (N'MH001', N'Toán', N'Đạt       ', N'B001')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [KetQua], [MaBangDiemMonHoc]) VALUES (N'MH002', N'Văn', N'Đạt       ', N'B002')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [KetQua], [MaBangDiemMonHoc]) VALUES (N'MH003', N'Anh', N'Đạt       ', N'B003')
INSERT [dbo].[NienKhoa] ([ThoiGian]) VALUES (N'2014-2015')
INSERT [dbo].[NienKhoa] ([ThoiGian]) VALUES (N'2015-2016')
INSERT [dbo].[NienKhoa] ([ThoiGian]) VALUES (N'2016-2017')
INSERT [dbo].[NK_PH] ([ThoiGian], [MaPhong]) VALUES (N'2014-2015', N'P01')
INSERT [dbo].[NK_PH] ([ThoiGian], [MaPhong]) VALUES (N'2014-2015', N'P02')
INSERT [dbo].[NK_PH] ([ThoiGian], [MaPhong]) VALUES (N'2014-2015', N'P03')
INSERT [dbo].[PhongHoc] ([MaPhong], [SoPhong], [SucChua]) VALUES (N'P01', N'1', 40)
INSERT [dbo].[PhongHoc] ([MaPhong], [SoPhong], [SucChua]) VALUES (N'P02', N'2', 40)
INSERT [dbo].[PhongHoc] ([MaPhong], [SoPhong], [SucChua]) VALUES (N'P03', N'3', 40)
INSERT [dbo].[ThanNhan] ([Ten], [DiaChi], [GioiTinh], [Tuoi], [MoiQuanHe], [SoDienThoai], [MaHocSinh]) VALUES (N'Kim', N'Ninh Thuận', N'Nữ        ', 42, N'Mẹ                  ', 357023156, N'HS001')
INSERT [dbo].[ThanNhan] ([Ten], [DiaChi], [GioiTinh], [Tuoi], [MoiQuanHe], [SoDienThoai], [MaHocSinh]) VALUES (N'Hồng', N'Bình Định', N'Nữ        ', 40, N'Mẹ                  ', 351478923, N'HS002')
INSERT [dbo].[ThanNhan] ([Ten], [DiaChi], [GioiTinh], [Tuoi], [MoiQuanHe], [SoDienThoai], [MaHocSinh]) VALUES (N'Hùng', N'Hồ Chí Minh', N'Nam       ', 45, N'Bố                  ', 351269222, N'HS003')
INSERT [dbo].[Thuoc] ([MaLop], [MaHocSinh]) VALUES (N'L001', N'HS001')
INSERT [dbo].[Thuoc] ([MaLop], [MaHocSinh]) VALUES (N'L001', N'HS009')
INSERT [dbo].[Thuoc] ([MaLop], [MaHocSinh]) VALUES (N'L001', N'HS011')
ALTER TABLE [dbo].[Day]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[Day]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[DuocDayBoi]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[DuocDayBoi]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[HanhKiem]  WITH CHECK ADD  CONSTRAINT [FK_HanhKiemThoiGian] FOREIGN KEY([ThoiGian])
REFERENCES [dbo].[NienKhoa] ([ThoiGian])
GO
ALTER TABLE [dbo].[HanhKiem] CHECK CONSTRAINT [FK_HanhKiemThoiGian]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HanhKiemHocSinh] FOREIGN KEY([MaHanhKiem])
REFERENCES [dbo].[HanhKiem] ([MaHanhKiem])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HanhKiemHocSinh]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_LopHocHocSinh] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_LopHocHocSinh]
GO
ALTER TABLE [dbo].[HS_BDMH]  WITH CHECK ADD FOREIGN KEY([MaBangDiemMonHoc])
REFERENCES [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc])
GO
ALTER TABLE [dbo].[HS_BDMH]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[HS_MH]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[HS_MH]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LH_BDMH]  WITH CHECK ADD FOREIGN KEY([MaBangDiemMonHoc])
REFERENCES [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc])
GO
ALTER TABLE [dbo].[LH_BDMH]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([ThoiGian])
REFERENCES [dbo].[NienKhoa] ([ThoiGian])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaBangDiemMonHoc])
REFERENCES [dbo].[BangDiemMonHoc] ([MaBangDiemMonHoc])
GO
ALTER TABLE [dbo].[NK_PH]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[NK_PH]  WITH CHECK ADD FOREIGN KEY([ThoiGian])
REFERENCES [dbo].[NienKhoa] ([ThoiGian])
GO
ALTER TABLE [dbo].[ThanNhan]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
USE [master]
GO
